<?xml version="1.0" encoding="Shift_JIS"?>
<FileCodeChecker version="1.0.0"><config><dclick>0</dclick><readsize>0</readsize><delimtype>0</delimtype><checktype>0</checktype><stringtype>0</stringtype><usefullpath>0</usefullpath><bom8>0</bom8><bom16>0</bom16><cp932>1</cp932><logheader>0</logheader><logauto>0</logauto><logdate>0</logdate><ignore/></config></FileCodeChecker>
